/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */

.debug .dash {
    border: 3px dashed black;
}

.debug .header-top {
    height: 80px;
    background-color: #ADD8E6;
}

.debug .nav {
    background-color: #DAA520;
    min-height: 50px;
}

.debug .header-bottom {
    height: 500px;
    background-color: #00008B;
}

.debug .jumbotron {
    height: 400px;
   background-color: #EE82EE;
}

.debug section {
    height: 600px;
}

/* Header Top*/

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    width: 1200px;
    line-height: 50px;
}

.nav-side {
    width: 20%;
}

.nav-center {
    width: 60%;
    text-align: center;
}

nav .right {
    text-align: right;
    padding-right: 10px
}

nav .left {
    padding-left: 10px;
}

/* Header */

.header-bottom {
    padding: 50px;
}

.header-bottom .jumbotron {
    width: 900px;
    margin: auto;
}

/* Main Section */ 

section {
    
}